<mat-toolbar color='primary' class="mat-elevation-z8">
    <span>Login Here</span>
</mat-toolbar>

<div class="for-forms">
    <form class=" center-xs" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance='fill' class="formcontrol ">
            <mat-label> EMAIL</mat-label>
            <input matInput placeholder="abc@xyz.com" formControlName="email">

            <mat-error *ngIf="submitted && f.email.errors.required"> Email Is Required</mat-error>
            <mat-error *ngIf="submitted && f.email.errors.email"> Enter a valid Email address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="formcontrol ">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <!-- <mat-error *ngIf="submitted && f.password.errors.required">Password is required</mat-error> -->
            <mat-error *ngIf="submitted && f.password.errors.minlength"></mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="space-btwn-btns">
            <button mat-stroked-button color='primary'>Login</button>
            <a routerLink='/register'>New user?<br>Register</a>
        </div>
        <br>
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

    </form>



</div>